<table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th>Producer</th>
                    <th>Available</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in collection">
                    <td><a href="#/detail/{{x.id}}">{{x.model}}</a></td>
                    <th>{{x.year}}</th>
                    <td>{{x.price | currency}}</td>
                    <td>{{x.producer}}</td>                    
                    <td><i class="glyphicon glyphicon-plus btn btn-sm btn-success" ng-click="addQuantity($index, collection)"></i>
                        <div>{{x.available}}</div><i <td><i class="glyphicon glyphicon-minus btn btn-sm btn-warning" ng-click="subQuantity($index, collection)"></i>
                        </td>
                    <td><i class="glyphicon glyphicon-trash btn btn-danger" ng-click="delete($index)"></i></td>
                </tr>                
            </tbody>
        </table>